
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 236, 230);
}

.title {
  font-family: 'Amatic SC', sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

a {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: black;
}

img {
  border-radius: 10px;
  border: solid 2px black;
  width: 500px;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}





.recipe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-content h1,
.recipe-content h2 {
  font-family: 'Amatic SC', sans-serif;
}

.recipe-title {
  font-size: 70px;
}

.recipe-content h2{
  font-size: 40px;
}

.recipe-content p,
.recipe-content li {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}






