@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 236, 230);
}

/* MAIN PAGE */
.heading {
  font-family: 'Amatic SC', sans-serif;
  font-size: 65px;
  font-weight: 500;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.recipe-container {
  text-align: center;
}

.recipe-container img {
  height: 300px;
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.recipe-container img:hover {
  border: 2px solid black;
}

